.str4 {stroke:black;stroke-width:0.1;stroke-opacity:0.501961}
.str0 {stroke:black;stroke-width:0.1}
.str2 {stroke:#003399;stroke-width:0.1}
.str3 {stroke:#003399;stroke-width:0.2}
.str5 {stroke:black;stroke-width:0.5}
.str1 {stroke:#2F3133;stroke-width:0.1;stroke-dasharray:0.200000 0.300000}
.fil0 {fill:white}
.fil1 {fill:#D3E9C7;fill-rule:nonzero}
.fil2 {fill:#EEE0E6;fill-rule:nonzero}
.fil3 {fill:#CBE3FF;fill-rule:nonzero}
.fil4 {fill:lemonchiffon;fill-rule:nonzero}
.fil5 {fill:lemonchiffon}
.fil6 {fill:none}
.fil7 {fill:white;fill-rule:nonzero}
.fil8 {fill:none;fill-rule:nonzero}
.fil9 {fill:white;fill-rule:nonzero;fill-opacity:0.501961}
.fil10 {fill:black;fill-rule:nonzero}
.fil11 {fill:#C2C1C1;fill-rule:nonzero}

.fil1:hover {opacity: 0.5}
.fil2:hover {opacity: 0.5}
.fil3:hover {opacity: 0.5}
.fil4:hover {opacity: 0.5}
.fil5:hover {opacity: 0.5}